<suite name="Calculator Suite">
    <test name="Calculator Tester">
        <groups>
            <run>
                <include name="BasicOperations"/>
                <include name="AdvancedOperations"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.CalculatorTester"/>
        </classes>
    </test>

</suite>